@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 5px;
}
